
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="../css/bootstrap.css" rel="stylesheet">
   <script src="js/bootstrap.js"></script>
  
    </head>
    <body>

         <section class="container" id="add">
         <!-- header -->
         <nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#">NewbieApp</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Add Student</a></li>
       
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-danger">Go!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ToanLM <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Log out</a></li>
            <li class="divider"></li>
            <li><a href="#">Change password</a></li>
            
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- endhere -->
        <div class="panel panel-success col-lg-9">
  <div class="panel-heading">
    <h2 class="panel-title">Fill all field to add new student!</h2>
  </div>
  <div class="panel-body">
    <form name="myform" action="addproduct.jsp" method="POST" onsubmit="return validateform()">
        
      
        <p><span class="label label-warning">Student ID</span>
           
           <input name="txtId" id="id" type="text" ></p>
    <p><span class="label label-info">Student Name</span>
           
           <input name="txtName" id="name" type="text" ></p>
       <p><span class="label label-primary">Age</span>
           <input name="txtAge" id="age" type="text" value=""></p>
       <p><span class="label label-danger">Gender</span>
           <input type="radio" name="sex" >Male</input>
           <input type="radio" name="sex" >Female</input>
</p>
   
  
       <p><span class="label label-default">Hometown</span>
           <input name="txtHome" id="home" type="text" ></p>
       
      
       <div class="panel-footer">
        <button type="button" class="btn btn-default" >Back</button>
        <input type="submit" name="btnSave"  class="btn btn-primary"  value="Save"/>
        </div>
       </form> 
  </div>
</div>
         </section>
         
    </body>
</html>
